.chart{
  width: 100%;
  height: 500px;
}
.tip{
  display: inline-block;
  position: absolute;
  border: solid 1px #D3D3D3;
  background: white;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  border-radius: 4px;
}
